*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #a3e3c4;
}

.inner_header{
    width: 60%;
    height: 100%;
    display: block;
    /*background-color: red;*/
    margin: 0 auto;
    text-align: center;
}

.sidebar{
position: fixed;
left: 0;
width: 250px;
height: 100%;
/*display: block;*/
background-color: #a3e3c4;
}

.main_page{
position: fixed;
left: 250px;
right: 80px;
display: flex;
justify-content: center;
align-items: center;
/*background-color: #101010;*/
}

.frame{
position: inherit;
display: flex;
justify-content: center;
}

.flex-center{
display: flex;
justify-content: center;
}

.inner-frame{
    width: 80%;
    height: 80%;
    background-color: lightblue;
    padding: 5%;
}