{% extends "templates/HeaderAndSidebarTemplate.html" %}

{% block bodyContent %}
<div class="main_page container">
    <div class="inner-frame">
        {% for item in Items %}
        <div class="row" style="padding-bottom: 50px">
            <div class="col-md flex-center">
                <div id="photo1" class="item-box">
                    <div class="row flex-center item-title">
                        <a href={{ item.redirectView }}>
                            <h3>{{ item.title }}</h3>
                        </a>
                    </div>
                    <div class="row flex-center">
                        <a href={{ item.redirectView }}>
                            <img src={{ item.base64Image }} style="max-width: 300px; max-width: 300px" alt="Base64 Image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="row flex-center">
            <nav>
                <ul class="pagination">
                    {% for page in PageNumbers %}
                    <li class="page-item">
                        <a class="page-link" href={{ page.redirectUrl }}>
                            {{ page.number }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}