<!DOCTYPE html>
<html th:replace="~{HeaderAndSidebarTemplate :: layout}"></html>
<div class="main_page container">
    <div class="inner-frame container">
        <div class="row" th:each="item: ${Items}" style="padding-bottom: 50px">
            <div id="photo1" class="col-sm">
                <div class="row flex-center">
                    <h3 th:text="${PhotoTitle}">Photo1</h3>
                </div>
                <div class="row flex-center">
                    <img th:src="${PhotoBase64}" alt="Base64 Image">
                </div>
                <div class="row flex-center">
                    <p th:text="${item.description}">Description unchanged</p>
                </div>
            </div>
        </div>
    </div>
</div>
