{% extends "templates/HeaderAndSidebarTemplate.html" %}

{% block bodyContent %}
<div class="main_page container">
    <!-- Here must come the back button ---->
    <div class="inner-frame">
        <a href={{ backButtonSrc }}><h3 class="back-button" style="width: fit-content">BACK</h3></a>
        <div class="row"  style="padding-bottom: 20px">
            <div class="col-md flex-center">
                <div class="view-item-box" style="display: flex; flex-direction: column; justify-content: center;">
                    <div class="row flex-center">
                        <h3>{{ title }}</h3>
                    </div>
                    <div class="row flex-center">
                        <img src={{ base64Image }} style="max-width: 580px; max-height: 600px" alt="Base64 Image">
                    </div>
                    <div class="row flex-center">
                        <p alt="Base64 Image">{{ description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}